<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node APP</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">node tutorial</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/about">About</a>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
